@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

details[open] > summary .details-arrow { transform: rotate(90deg); }
details > summary::-webkit-details-marker { display: none; }

.editable-cell:hover { background-color: #eff6ff; border-radius: 2px; }
